.current-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  .location {
    font-size: 18px;
    font-weight: bold;
    color: #424242;
  }

  .weather-img {
    width: 110px;
  }

  .temp {
    font-size: 14px;
  }
}
