.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  overflow: auto;

  .list-conetnt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .list-box {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .add-btn {
      display: grid;
      place-items: center;
      width: 400px;
      height: 40px;
      background-color: #424242;
      border-radius: 5px;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
      transition: all 0.5s ease;

      &:hover {
        background-color: #000;
      }
    }
  }

  .option-btn-box {
    display: flex;
    gap: 10px;
  }

  .option-btn {
    display: grid;
    place-items: center;
    height: 36px;
    padding: 0 30px;
    background-color: #424242;
    border-radius: 50px;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    margin-top: 15px;
    transition: all 0.5s ease;

    &:hover {
      background: #000;
    }
  }

  .test-title {
    font-size: 17px;
    margin: 0;
    padding-bottom: 15px;
  }

  .reset-btn {
    display: grid;
    place-items: center;
    width: 100px;
    height: 36px;
    background-color: #424242;
    border-radius: 50px;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    margin-top: 15px;
    transition: all 0.5s ease;

    &:hover {
      background: #000;
    }
  }
}
